type project
owners
    Vaman
authors 
    Vaman
projectUrl
    http://github.com/vamanbedekar/My1stTestRepo
iconUrl
    https://raw.githubusercontent.com/vamanbedekar/My1stTestRepo/master/docs/files/img/logo.png
licenseUrl
    http://github.com/vamanbedekar/My1stTestRepo/blob/master/LICENSE.txt
requireLicenseAcceptance
    false
copyright
    Copyright 2015
tags
    
summary
    Test Repo
description
    Testing how to use scaffold


